.a{
    text-decoration: none;
}
.btn-serve{
    border: 1px solid #3079ED;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #3079ED;
    border-bottom-color: #3079ED;
    border-radius: 3px;
    color: #FFF;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    font-style: ;
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    width: ;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
}
.btn:hover{
    background-image: -moz-linear-gradient(center top , #4CAE4C, #5CB85C);
}
.green-bar{
    background: #4CAE4C;
    height: 5px;
}
.list-group-item{
    border-style: none;
    
}
